.mainStyles {
    background-color: white;
}

div.styleBody {
    max-width: 960px;
    margin: auto;
}

.subMainStyles {
    padding: 25px 0;
    background-color: white;
}
.card-img-top {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col-sm-9 {
    float: center;
}
.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.08);

    border-radius: 10px;

}
div.endImage {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#contact {
    color: black;
}
 .timeline {
    

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.carousel-item {
    border-radius: 20px;

}


.row {
    max-width: 960px;
    margin: auto;
}

p#listen {
    font-size: 24px;
    color: lightgrey;
}

span.homeStyles {
    color: orange;
}

button.homeButtonStyles {
    background-color: orange;
    color: white;
}

img {
    max-width: 100%;
}

div.lastContainer {
    padding: 200px 0;
}

.footerStyles {
    text-align: center;
    color: orange;

}
.btn-primary {
    color: orange;
}

.homeimg {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

.cardStyles {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#active { 
    color: black;
    font-weight: 400;
}