/* body#styleBody {
    max-width: 960px;
    margin: auto;
} */

/* div.maxNav{
    max-width: 960px;
}

nav {
    max-width: 960px;
} */

img.logoStyles {
    margin-left: 100px;

}

.mainStyles {
    background-color: lightgrey;
}

div.endImage {
    display: flex;
    justify-content: flex-end;
}


.row {
    max-width: 960px;
    margin: auto;
}

h3#listen {
    color: lightgrey;
}

span.homeStyles {
    color: orange;
}

button.homeButtonStyles {
    background-color: orange;
    color: white;
    justify-content: center;
}

img {
    max-width: 100%;
}

div.lastContainer {
    padding: 200px 0;
}

footer.footerStyles {
    text-align: center;
    color: orange;

}