.mainStyles {
    background-color: white;
}

div.styleBody {
    max-width: 960px;
    margin: auto;
}

.subMainStyles {
    padding: 25px 0;
    background-color: white;
}
.card-img-top {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn-primary {
    padding: 10px;
}
.col-sm-9 {
    float: center;
}
.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.08);

    border-radius: 10px;

}
div.endImage {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#contact {
    color: black;
}
 .timeline {
    

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.carousel-item {
    border-radius: 20px;

}
.btn .homeButtonStyles {
    background-color: orange;
    color: white;
    border: none;
}
.btn.btn-primary.homeButtonStyles {
    background-color: orange;
    color: white;
    border: none;
}
.btn.btn-primary {
    background-color: orange;
    color: white;
    border: none;
}

.row {
    max-width: 960px;
    margin: auto;
}

h3#listen {
    color: lightgrey;
}

span.homeStyles {
    color: orange;
}

button.homeButtonStyles {
    background-color: orange;
    color: white;
    justify-content: end;
}

img {
    max-width: 100%;
}

div.lastContainer {
    padding: 200px 0;
}

.footerStyles {
    text-align: center;
    color: orange;

}
.btn-primary {
    color: orange;
}

.homeimg {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

.cardStyles {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#active { 
    color: black;

}
.navbar-nav {
    margin: 20px;
}

.nav-item a {
    margin: 16px;
   

 
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5));
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.contact-title {
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1 {
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2 {
    font-size: 16px;
}


.form .submit {
    margin-top: 50px;
    transition: all 4s ease-in-out;

}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solis gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;

  
}


#input .form-control {
    padding: 13px;
}
input {
    height: 45px;

}

form .submit {
   background: #ffa500;
   border-color: transparent;
   color: #fff;
   font-size:17px;
   font-weight: bold;
   letter-spacing: 2px;
   height: 50px;
   margin-top: 20px;

}

form .submit:hover {
    background-color: gray;
   cursor: pointer;
 
 }
 #input {
     padding: 13px;
 }

 .icon { display: inline-block; height: 45px; width: 45px; line-height: 45px; text-align: center; border: 1px solid #ddd; border: 1px solid rgba(0, 0, 0, 0.2); color: #999; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.icon:hover { color: #000; text-decoration: none; border: 1px solid #555; -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1); }

.form-control-feedback { display: none; }

.has-feedback .form-control-feedback { display: inline-block; margin-top: -24px; }

.loader { border: 2px solid #555; width: 50px; height: 50px; position: fixed; left: 50%; top: 50%; margin-top: -25px; margin-left: -25px; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; border-radius: 50px; -webkit-animation: load 1s infinite; /* Chrome, Safari, Opera */ animation: load .3s infinite; }

@-webkit-keyframes load { 0% { height: 50px; -webkit-transform: rotate(0); }
  50% { height: 0; margin-top: 0; -webkit-transform: rotate(180deg); }
  100% { height: 50px; margin-top: -25px; -webkit-transform: rotate(360deg); } }
@keyframes load { 0% { height: 50px; }
  50% { height: 0; margin-top: 0; }
  100% { height: 50px; margin-top: -25px; } }
